.header img {
    margin-top: 8px;
    margin-left: 17px;
    width: 50px;
}
.header {
    grid-area: h;
    background-color: green;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}